body {
  background-color: rgb(71, 70, 70);
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(200, 209, 212) 0%,
    rgb(129, 182, 192)
  );
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  color: rgb(49, 48, 48);
}

.search-form-input {
  background-color: rgb(233, 228, 228);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  color: rgb(12, 11, 11);
  padding: 15px 20px;
}
.search-form-button {
  background-color: rgb(200, 209, 212) 0%;
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  color: rgb(49, 48, 48);
}
